<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Time"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">

        <service
            android:name=".TimeScreenSaverService"
            android:exported="true"
            android:label="Time"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_info" />
        </service>

    </application>

</manifest>
